<div class="flex flex-col ">
  <div
    class="bg-white bg-cover bg-center"
    style="background-image: url('fondo.jfif')"
  >
    <div class="container mx-auto px-4">
      <div class="mb-10 md:mb-16">
        <div class="text-center">
          <h2
            class="text-3xl md:text-5xl font-extrabold text-gray-800 title-font"
          >
            Unidad Educativa José Manuel Ávila "2"
          </h2>
          <p
            class="mt-4 text-lg md:text-xl p-3 rounded-xl bg-white bg-opacity-75 inline-block shadow-md body-font max-w-3xl mx-auto"
          >
            Descubre el futuro donde la innovación y el aprendizaje se unen para
            formar a los líderes del mañana.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img
    src="plantel.jpg"
    class="w-full h-auto rounded-xl shadow-xl block mx-auto md:w-7/12 lg:w-6/12 max-h-96"
    alt="Plantel Docente"
>
</div>
